@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #526548, #AEC198);
    }
    
    section#login {
        width: 90vw;
        height: 400px;
    }

    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    
    }

    section#login > div#formulario > h1 {
        font-size: 1.6em;
        margin-top: 13px;
    }

    section#login > div#formulario > p {
        font-size: 1em;
        padding-left: 20px;
        padding-right: 20px;
    }

    section#login > div#formulario {
        float: right;
        width: 65%;
        padding: 30px;
    }

    form label {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    form > div.campo {
    margin-bottom: 20px;
    height: 40px;
    }

    form > div > input {
        font-size: 1.2em;
        height: 36.5px;
    }


}

@media screen and (min-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #526548, #AEC198);
    }
    
    section#login {
        width: 950px;    
        height: 410px;
    }

    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    
    }

    section#login > div#formulario > h1 {
        font-size: 2em;
    }

    section#login > div#formulario > p {
        font-size: 1.2em;
        padding-left: 20px;
        padding-right: 20px;
    }

    section#login > div#formulario {
        padding: 30px;
        float: right;
        width: 65%;
    
    }

    form label {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    form > div.campo {
        margin-bottom: 20px;
        height: 40px;
        }
    
        form > div > input {
            font-size: 1.2em;
            height: 36.5px;
        }
}